extends ../layout.jade

block content
	.row-fluid
		.page-header
			h1 用户列表
		table.table.table-striped.table-bordered.table-hover.table-condensed
			- var length = users.length;
			- var pageSize = 5;
			- var pageNum = Math.ceil(length/pageSize);
			thead
				tr
					th 序号
					th 用户名
					th 邮箱
					th 注册时间
					th 状态
					th 
			tbody
				each user, index in users
					tr
						td= index+1
						td= user.nickname
						td= user.email
						td= moment(user.createtime).format('MM/DD/YYYY')
						if(user.role==0)
							td
								span.label.label-danger 未激活
						else
							td
								span.label.label-success 激活
						td
							.btn-group
								a.btn.btn-mini.dropdown-toggle(data-toggle='dropdown', href='#') 操作
									span.caret
								ul.dropdown-menu.pull-right
									li
										a
											span.glyphicon.glyphicon-pencil
											| 编辑
		nav
			ul.pagination
				if(pageNum>1)
					li
						a(href='#', aria-lable='Previous')
							span(aria-hidden='true') &laquo;
					-for(var i=0; i<pageNum;i++)
						li
							a(href='#')= i+1
					li
						a(href='#', aria-label='Next')
							span(aria-hidden='true') &raquo;
