extends ../layout.jade

block content
	.page-header
		h1= course.title
			small 课程编辑
	.errors-container
	button.btn.btn-primary(data-toggle="modal", data-target="#addChapter") 添加目录
	//- 课程章节
	-var chapter = ['第一章','第二章','第三章','第四章','第五章','第六章','第七章']
	.course_chapter_list
		each item, index in course.details
			.chapter(data-chapterId="#{item.id}")
				h3
					strong= chapter[item.chapter-1]+" "+item.title
					span +
				ul.sub(style="display:none;")
					each sub, index in item.view
						li(data-viewId="#{sub.id}")
							a(href="#addSub")= sub.title
					a#subBtn.subBtn.btn.btn-primary(data-chapterId="#{item.id}", href='#addSub') 添加章节
	//- 模态框
	#addChapter.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4.modal-title 添加课程目录
				.modal-body
					form#subchapter(role="form", action="/admin/addchapter", method="post")
						input(type="hidden", value="#{course._id}", name="courseId")
						.form-group
							select.form-control(name="chapter")
								each item, index in chapter
									if isExisted.indexOf(index+1)!=-1
										option(value='#{index+1}', disabled)= item
									else
										option(value='#{index+1}')= item
						.form-group
							input.form-control(type="text", placeholder="title", name='title')
						button.btn.btn-primary(type="submit") 提交
	include ./preview.jade

block editor
	.container#addSub(style="display:none; float:left; margin-left: 98px; margin-right:auto;")
		.page-header
			h3 编辑
				small#subchapter
		form.form-inline(id="editor",action="/admin/courseedit", method="post")
			input(type="hidden", value="#{course._id}", name="courseId")
			input(type='hidden', name="chapterId")
			input(type="hidden", name="viewId")
			.form-group
				label(for="subTitle") 标题
				input#subTitle.form-control(type="text", name="subTitle", required)
				span#helpBlock.help-block 标题格式：1-1 标题内容
			script(id="container", name="content", type="text/plain", style="height:300px;width:100%; z-index:10;position: relative")
			button.btn.btn-success#previewBtn(role="button") 预览
			button.btn.btn-primary(role="submit") 提交
			if(role>=12)
				button.btn.btn-danger#delSub(type="button") 删除
	script(type="text/javascript", charset="UTF-8", src="/static/ueditor/ueditor.config.js")
	script(type="text/javascript", charset="UTF-8", src="/static/ueditor/ueditor.all.min.js")
	script(src="/js/admin/courseedit.js")